.icon-heart {
  display: inline-block;
  background-color: var(--main-bg-color);
  font-size: 1rem;
  width: 1em;
  height: 1em;
  margin: .5em;
  position: relative;
  transform: rotate(45deg);
  
  &::before, &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    position: absolute;
    border-radius: 50%;
  }
  
  &::before {
    left: -.5em;
  }
  
  &::after {
    top: -.5em;
  }
}

.empty-stars {
  &::before {
    display: inline-block;
    content: "\2605";
    font-size: 2rem;
    -webkit-text-stroke: 1px var(--color-white);
    color: transparent;
    transition: transform .3s;
  }
  &.is-selected::before {
    -webkit-text-stroke: 1px var(--main-bg-color);
    color: var(--main-bg-color);
    transform: rotate(calc(360 * 10deg));
  }
}
