.main-tabs {
  height: 100vh;
  div.swiper-pagination {
    display: flex;
    justify-content: space-around;
    position: static;
    width: auto;
    padding: 0 1em;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .5;
      border-bottom: 1px solid var(--color-gray);
    }
  }
  .swiper-pagination-bullet {
    flex: 1;
    position: relative;
    width: auto;
    height: 3em;
    line-height: 3em;
    background: none;
    text-transform: capitalize;
    font-weight: bold;
    &:not(.swiper-pagination-bullet-active) {
      opacity: 1;
      color: var(--color-gray);
    }
    sup {
      position: absolute;
      top: -5px;
      color: var(--main-bg-color);
    }
  }
  .swiper-pagination-bullet-active::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid var(--color-white);
  }
  .swiper-slide:nth-child(1) {
    background: var(--main-bg-color);
  }
  .swiper-slide:nth-child(2) {
    background: var(--color-gray);
  }
  .swiper-slide:nth-child(3) {
    background: var(--color-white);
  }
}