.main-tabs {
  margin: 0 0 3em;
  > div.main-swiper-bullets {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid var(--color-gray);
    background: var(--color-dark);
    .swiper-pagination-bullet {
      flex: 1;
      width: auto;
      height: 3em;
      line-height: 3em;
      background: none;
      opacity: 1;
    }
  }
}

.main-home {
  div.swiper-pagination {
    display: flex;
    justify-content: space-around;
    position: static;
    width: auto;
    padding: 0 1em;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .5;
      border-bottom: 1px solid var(--color-gray);
    }
  }
  .swiper-pagination-bullet {
    flex: 1;
    position: relative;
    width: auto;
    height: 3em;
    line-height: 3em;
    background: none;
    text-transform: capitalize;
    font-weight: bold;
    &:not(.swiper-pagination-bullet-active) {
      opacity: 1;
      color: var(--color-gray);
    }
    sup {
      position: absolute;
      top: -5px;
      color: var(--main-bg-color);
    }
  }
  .swiper-pagination-bullet-active::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid var(--color-white);
  }
}