.util-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5em;
  padding: 0 1em;
  &__title {
    flex-shrink: 0;
    font-weight: bold;
    font-size: 1.6rem;
  }
  &__aside {
    flex-shrink: 0;
    button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
    }
  }
}

.main-tabs {
  > div.main-swiper-bullets {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid var(--color-gray);
    background: var(--color-dark);
    .swiper-pagination-bullet {
      flex: 1;
      width: auto;
      height: 3em;
      line-height: 3em;
      background: none;
      opacity: 1;
      border-radius: 0;
    }
    .swiper-pagination-bullet-active {
      animation-duration: .3s;
      animation-name: scalein;
      background: var(--color-white);
      color: var(--color-dark);
    }
  }
}

@keyframes scalein {
  from {
    transform: scale(.8);
  }
  to {
    transform: scale(1);
  }
}

.main-home {
  overflow-y: auto;
  height: calc(100vh - 3em);
  padding: 0 0 3em;
  div.swiper-pagination {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    right: 0;
    bottom: auto;
    width: auto;
    padding: 0 1em;
    background: var(--color-dark);
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .5;
      border-bottom: 1px solid var(--color-gray);
    }
  }
  .swiper-pagination-bullet {
    flex: 1;
    position: relative;
    width: auto;
    height: 3em;
    line-height: 3em;
    background: none;
    text-transform: capitalize;
    font-weight: bold;
    &:not(.swiper-pagination-bullet-active) {
      opacity: 1;
      color: var(--color-gray);
    }
    sup {
      position: absolute;
      top: -5px;
      color: var(--main-bg-color);
    }
  }
  .swiper-pagination-bullet-active::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid var(--color-white);
  }
  .swiper-wrapper {
    height: auto;
  }
  .swiper-slide {
    padding: 1em;
  }
}