
.select-my-style__header {
  margin: 0 0 2em;
  .text-icon {
    &::before {
      color: var(--main-bg-color);
    }
  }
  p {
    color: var(--color-gray);
    > strong {
      margin: 0 0 0.5em;
      font-size: 1.8rem;
      line-height: 1.2;
      color: var(--color-white);
    }
  }
}

.main-products {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 1px;
  border-radius: 5px;
  &__item {
    position: relative;
    flex-basis: calc((100% / 3) - 1px);
    padding: 0 0 40%;
    background: var(--color-white);
  }
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  input {
    position: absolute;
    z-index: 4;
    opacity: 0;
    &:checked + .backdrop {
      background: rgba(0, 0, 0, .5);
      .text-icon {
        top: 0;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  .backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  .text-icon {
    position: relative;
    top: 50%;
    opacity: 0;
    transform: translateY(100%);
    transition: top .3s ease-in-out;
      &::before {
        font-size: 4rem;
      }
  }
  img {
    padding: 0.5em;
    max-height: 100%;
  }
}

.head-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
  height: 4em;
  padding: 0 1em;
  background: var(--color-dark);
  button {
    padding: 0 0.5em;
    background: var(--color-white);
    color: var(--color-dark);
    height: 2em;
    border-radius: 15px;
  }
}

.store-list {
  &__item:not(:first-child) {
    margin: 1.5em 0 0;
  }
  &__detail {
    display: flex;
    justify-content: space-between;
    margin: .5em 0 0;
  }
  &__summary {
    display: flex;
    align-items: center;
    dl {
      line-height: 1.2;
    }
    dt {
      font-weight: bold;
      font-size: .9em;
    }
    dd {
      color: var(--color-gray);
      font-size: .8em;
    }
  }
  &__thumbnail {
    overflow: hidden;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin: 0 .5em 0 0;
  }
}
