
.select-my-style__header {
  margin: 0 0 2em;
  p {
    color: var(--color-gray);
    > strong {
      margin: 0 0 0.5em;
      font-size: 1.8rem;
      line-height: 1.2;
      color: var(--color-white);
    }
  }
}

.head-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
  height: 4em;
  padding: 0 1em;
  background: var(--color-dark);
  button {
    padding: 0 0.5em;
    background: var(--color-white);
    color: var(--color-dark);
    height: 2em;
    border-radius: 15px;
  }
}
